version: '3.9'

services:
  postgres:
    image: postgres:latest
    container_name: postgres-demo
    environment:
      POSTGRES_USER: rob
      POSTGRES_PASSWORD: password
      POSTGRES_DB: testdb
    volumes:
      - pgdata:/var/lib/postgresql
    ports:
      - "5432:5432"

volumes:
  pgdata: